
<title>TinyApp URL Shortener</title>

<% if (user) { %>
  <h5>Logged in as: <%=user.id%></h5>
  <form method="POST" action="/logout">
    <input type="submit" value="logout">
  </form>

<% } else { %>

  <form method="POST" action="/login">
    <input type="text" name= "username" value="login">
  </form>

<% } %>






