
<title>TinyApp URL Shortener</title>

<% if (user) { %>
  <h5>Logged in as: <%=user.email%></h5>
  <form method="POST" action="/logout">
    <input type="submit" value="logout">
  </form>

<% } else { %>

  <form method="GET" action="/login">
    <input type="submit" value="login">
  </form>

  <form method="GET" action="/register">
    <input type="submit" value="register">
  </form>

<% } %>






