<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <% include partials/_header %>
    <h2>Welcome to TinyApp!</h2>

    <h4>Shorten a New Link</h4>
    <a href='/urls/new'>Shorten</a>

  </body>

</html>
