<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <% include partials/_header %>
    <h2>Welcome to TinyApp!</h2>

    <h3><a href="/urls">Show Me My Database!</a></h3>

    <h4>Shorten a New Link</h4>
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Shorten">
    </form>

  </body>

</html>
