<!DOCTYPE html>

<html lang="en">

  <head>
    <title>TinyApp</title>
  </head>

  <body style="font-size:20px; padding:50px;">

    <h3>Login to TinyApp!</h3>

      <form action="/login" method="POST" style="margin:150px;">
        <label for="email">Email Address:</label>
          <input id="email" type="email" name="email" placeholder="example@domain.com" style="width: 300px">
        <label for="password">Password:</label>
          <input id="password" type="password" name="password">
          <input type="submit" value="login">
      </form>

  </body>

</html>