<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <% include partials/_header %>

      <h3>Requested URL:</h3>
      <ul>
          <li><%=shortURL%> - <%=fullURL%></li>
          <form method="POST" action="/urls/<%= shortURL%>">
            Update This URL:<input type="url" name = "newURL" value = "New URL Destination">
            <input type="submit" value="Update">
          </form>
      </ul>

      <form method="GET" action="/urls">
        <input id="back" type="submit" value="Back to Database">
      </form>

      <h4>Shorten a New Link</h4>
      <form action="/urls" method="POST" style="margin:150px;">
        <label for="longURL">Enter a URL:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Shorten">
      </form>

  </body>

</html>