<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <% include partials/_header %>

      <h3>URL Database</h3>
      <ul>
        <% for(shortURL in urls) { %>
          <li><%=shortURL%> - <%=urls[shortURL]%>
            <form method="POST" action= "/urls/<%=shortURL%>/edit">
              <input type="submit" value="Edit">
            </form>
            <form method="POST" action= "/urls/<%= shortURL%>/delete">
              <input type="submit" value="Remove URL">
            </form>
          </li>

        <% }; %>
      </ul>


      <h4>Shorten a New Link</h4>
      <a href='#'>Shorten</a>

  </body>

</html>



