<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp</title>
  </head>

  <body>
      <h3>Requested URL:</h3>
      <ul>
          <li><%=shortURL%> - <%=fullURL%></li>
      </ul>

      <h4>Shorten a New Link</h4>
      <a href='#'>Shorten</a>

  </body>

</html>