<!DOCTYPE html>
<html lang="en">

  <head>
    <title>TinyApp</title>
  </head>

  <body>
    <% include partials/_header %>

      <h3>Requested URL:</h3>
      <ul>
          <li><%=shortURL%> - <%=fullURL%></li>
          <form method="POST" action="/urls/<%= shortURL%>">
              Update This URL:<input type="text" name = "newURL" value = "New URL Destination">
              <input type="submit" value="Update">
            </form>
      </ul>

      <h4>Shorten a New Link</h4>
      <a href='#'>Shorten</a>

  </body>

</html>